#container{
    padding-top: 5%;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-content: center;
flex-direction: column;

}

#scoreCard{
    font-size: large;
}


#help{
    float: right;
}
  

#player2{
    color: white;
    background-color:#ffb703 ;
    border-color: #ffb703;
}








